@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500&display=swap");

body {
  background-image: url("assets/bg.jpg");
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.main-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
  background-color: #1e1e36;
  margin: 0 auto;
  border-radius: 3vh;
  position: relative;
}
.image {
  height: 400px;
  width: 300px;
  border-radius: 3vh;
  z-index: 1;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text {
  color: white;
  margin: 0 auto;
}
.text > .song-name {
  font-size: 1rem;
  font-weight: 600;
}
.text > .artist {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 200;
}
.music {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.audio-track {
  position: absolute;
  left: 0px;
  width: calc(100% - 30px); 
  height: 3px;
  background-color: #dddddd;
}

.time {
  width: 100%;
  height: 3px;
  background-color: #C93B77;
  display: flex;
  justify-content: space-between; 
  position: relative;
}

.current-time {
  color: white;
  position: absolute;
  top: -20
  px;
  left: 0px;
}

.total-time {
  color: white;
  position: absolute;
  top: -20
  px;
  right: 0px;
}

.audio-controls {
  display: flex;
  padding: 50px 0 30px 0;
}
.play {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #c93b77;
  margin: 0 10px;
}
.play > img {
  width: 100%;
  height: 100%;
}
.previous {
  width: 35px;
  height: 35px;
}
.previous > img {
  width: 100%;
  height: 100%;
}
.forward {
  width: 35px;
  height: 35px;
}
.forward > img {
  width: 100%;
  height: 100%;
}

